* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f7f6;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#currentTimeUTC {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 20;
}

.profile-card {
  margin-top: 20px;
  background-color: #ffffff;
  width: 650px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  display: flex;
}

.profile-header {
  background-color: #1e3b8aa9;
  padding: 30px;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
}

.profile-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-name {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

.profile-title {
  font-size: 0.9rem;
  color: #4caf50;
  margin: 5px 0;
}

.profile-bio {
  color: #777;
  font-size: 0.9rem;
  margin: 10px 0;
}

.profile-location,
.profile-email {
  color: white;
  font-size: 0.9rem;
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.profile-location i,
.profile-email i {
  color: black;
}

.profile-email a {
  color: white;
  text-decoration: none;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  color: #1e3a8a;
  margin: 0 10px;
  font-size: 1.5rem;
  text-decoration: none;
}

.social-links a:hover {
  color: #1e3b8aa9;
}

@media screen and (max-width: 768px) {
  .profile-card {
    max-width: 70%;
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .profile-card {
    max-width: 90%;
    flex-direction: column;
  }
}
